@import "tailwindcss";

@theme {
  --color-brand: #ff4500;
}

body {
  background-color: #0f0f0f;
  color: #ededed;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}